.header {
  background-color: var(--dark-green);
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_text {
  color: white;
  font-weight: bold;
  /* position: absolute; */
  font-size: 1.5rem;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.header_logo {
  justify-self: flex-end;
  color: var(--dark-gray);
  padding: 0.5rem 1rem;
  /* position: absolute; */
  /* right: 22px;
  top: 50%;
  transform: translate(0, -50%); */
  background-color: var(--lemon);
  font-weight: bold;
}
.header_back_icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
