.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.im {
  position: absolute;
  padding: 0;
  left: -30%;
  top: 43%;
}
.im_text {
  color: var(--gray);
  font-size: 2em;
  font-weight: bold;
}
.name {
  background-color: var(--yellow);
  width: auto;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  left: 100%;
  top: 42%;
  /* padding: 0.5rem 3vw; */
  align-self: center;
  justify-self: center;
}
.image {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  mix-blend-mode: lighten;
  width: 40vh;

  height: auto;
}
.image img {
  width: 100%;
  background-size: cover;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .name {
    left: 2%;
    top: 50%;
  }
  .im {
    left: 2%;
  }
}
